# Rounds to play
l=30

# Length of agent memory
k=5

# Maximum tree depth
d=10

# EA params
mu=50
lambda=25

# Random generator seeding
# (0=static, 1=time-based)
seedType=1
seed=222223

# Runs & evals a single round consists of
runs=30
evals=10000

logfile=./log/default.txt
solutionfile=./sln/default.txt
