# Build files
*.o
*.exe

# Visual Studio build directories
Debug/*
x64/*

# Other Visual Studio crap
*.vs
*.user
*.filters

# LaTeX files
*.aux
*.bbl
*.blg
*.log
*.out
*.synctex.gz

# MATLAB files
*.asv

# Per-run output directories
log/*
sln/*

# Manual override
!.gitkeep
